{% extends "layout.html" %}
{% block body %}
<!--  <div class="jumbo">
    <h2>Welcome to the Tory Burch<h2>
    <h3>These are on sales<h3>
  </div>
-->
<div class="table-users">
<table class="table">
<form action="{{ url_for('home') }}" method=post class=add-entry>
<tr>
	<td colspan="4"><h1>Tory Burch</h1></td>
</tr>
<tr class="row header blue">
	<td width=* class="cell">Name<button type="button " name="sort" value="DESC ASC" style="background-color:{{sort['DESC ASC']}};border:0px">^</button><button type="button " name="sort" value="DESC DESC" style="background-color:{{sort['DESC DESC']}};border:0px">v</button></td>
	<td width=100 class="cell">Standard Price<button type="button " name="sort" value="STANDARD_PRICE ASC" style="background-color:{{sort['STANDARD_PRICE ASC']}};border:0px">^</button><button type="button " name="sort" value="STANDARD_PRICE DESC" style="background-color:{{sort['STANDARD_PRICE DESC']}};border:0px">v</button></td>
	<td width=100 class="cell">Sales Price<button type="button " name="sort" value="SALES_PRICE ASC" style="background-color:{{sort['SALES_PRICE ASC']}};border:0px">^</button><button type="button " name="sort" value="SALES_PRICE DESC" style="background-color:{{sort['SALES_PRICE DESC']}};border:0px">v</button></td>
	<td width=100 class="cell">Last Updated<button type="button " name="sort" value="LAST_UPD ASC" style="background-color:{{sort['LAST_UPD ASC']}};border:0px">^</button><button type="button " name="sort" value="LAST_UPD DESC" style="background-color:{{sort['LAST_UPD DESC']}};border:0px">v</button></td>
</tr>
</form>
{% for error in errors %}
<tr class="row">
	<td colspan="4" class="cell">{{ error }}</td>
</tr>
{% endfor %}
{%	for entry in entries %}
<tr class="row">
	<td width=* class="cell">
		<div class="crop"><a href="{{ entry.ALT_IMG_URL }}" class="preview" title="{{ entry.NAME }}"><img align="left" src={{ entry.IMG_URL }}></a></div>
		<a class="info" target="_blank" href="{{ entry.URL }}">{{ entry.DESC|safe }}<span>{{ entry.NAME }}</span></a>
		<br><a href="{{ entry.CATEGORY_URL }}" class="tooltip" title="Go to the site" target="_blank">{{ entry.CATEGORY }}</a>
	<td width=100 class="cell">{{ entry.STANDARD_PRICE }}</td>
	<td width=100 class="cell">{{ entry.SALES_PRICE }}</td>
	<td width=100 class="cell">{{ entry.LAST_UPD }}</td>
</tr>
{%	else %}
<tr class="row">
	<td colspan="4" class="cell">Unbelievable.  No entries here so far</td>
</tr>
{%	endfor %}
</table>
{% endblock %}