{% extends "layout.html" %}
{% block body %}
<!--  <div class="jumbo">
    <h2>Welcome to the Tory Burch<h2>
    <h3>These are on sales<h3>
  </div>
-->
<div class="table-users">
<table class="table">
<tr>
	<td colspan="5">Tory Burch</td>
</tr>
<tr class="row header blue">
	<td width=100 class="cell">Category</td>
	<td width=* class="cell">Name</td>
	<td width=100 class="cell">Standard Price</td>
	<td width=100 class="cell">Sales Price</td>
	<td width=100 class="cell">Last Updated</td>
</tr>
{%	for entry in entries %}
<tr class="row">
	<td width=100 class="cell">{{ entry.CATEGORY }}</td>
	<td width=* class="cell">
		<img class="thumb_nail" align="left" src={{ entry.IMG_URL }}>
		<a class="info" href="#">{{ entry.DESC|safe }}<span>{{ entry.NAME }}</span></a>
	<td width=100 class="cell">{{ entry.STANDARD_PRICE }}</td>
	<td width=100 class="cell">{{ entry.SALES_PRICE }}</td>
	<td width=100 class="cell">{{ entry.LAST_UPD }}</td>
</tr>
{%	else %}
<tr class="row">
	<td colspan="5" class="cell">Unbelievable.  No entries here so far</td>
</tr>
{%	endfor %}
</table>
{% endblock %}